<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, consequuntur corporis delectus doloremque dolorum eos expedita facilis fugit harum iusto, ipsam, itaque, laboriosam, maiores maxime mollitia nobis nihil numquam obcaecati odit officia optio pariatur quasi quidem quo quos repellendus repudiandae</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, consequuntur corporis delectus doloremque dolorum eos expedita facilis fugit harum iusto, ipsam, itaque, laboriosam, maiores maxime mollitia nobis nihil numquam obcaecati odit officia optio pariatur quasi quidem quo quos repellendus repudiandae</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, consequuntur corporis delectus doloremque dolorum eos expedita facilis fugit harum iusto, ipsam, itaque, laboriosam, maiores maxime mollitia nobis nihil numquam obcaecati odit officia optio pariatur quasi quidem quo quos repellendus repudiandae</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, consequuntur corporis delectus doloremque dolorum eos expedita facilis fugit harum iusto, ipsam, itaque, laboriosam, maiores maxime mollitia nobis nihil numquam obcaecati odit officia optio pariatur quasi quidem quo quos repellendus repudiandae</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, autem, consequuntur corporis delectus doloremque dolorum eos expedita facilis fugit harum iusto, ipsam, itaque, laboriosam, maiores maxime mollitia nobis nihil numquam obcaecati odit officia optio pariatur quasi quidem quo quos repellendus repudiandae</p>
    </div>
    <%- include('./partials/foot.ejs')%>

</body>
</html>